body{
    background: whitesmoke;
    height: 95vh;
    width:95vw;
    overflow-x: hidden;
}

p{
    font-size: 16px;
    text-wrap: balance;
    word-break: break-word;
}

#deckBuilder{
    margin: 0 5%;
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 10px 0;
    min-height: 30%;
}

.builderBox{
    padding: 10px 10px;
    width: 45%;
    border: thin black solid;
    text-align: center;
}

#dropZones{
    width: 80%;
    height: 30%;
    margin: 50px 10%;
    text-align: center;
    display: flex;
    align-items: center; 
    flex-direction: row;
    justify-content: center;
}

.dropZone{
    width: 50%;
    min-height: 100%;
    border: black thick dotted;
    display: flex;
    justify-content: space-around;   
    align-items: center; 
    flex-direction: column;
    margin: 0 5%;
}


.buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#Characters{
    display:flex;
    flex-direction: column;
}

.select{
    padding: 5px 0;
}

#warningText{
    text-align: center;
}

#numLabel{
    padding: 0 10px;
}